.vs/UniqueArticles/DesignTimeBuild/.dtbcache.v2
.vs/UniqueArticles/config/applicationhost.config
.vs/UniqueArticles/v16/.suo
src/UniqueArticles/obj/project.assets.json
src/UniqueArticles/obj/UniqueArticles.csproj.nuget.dgspec.json
src/UniqueArticles/obj/UniqueArticles.csproj.nuget.g.props
src/UniqueArticles/obj/UniqueArticles.csproj.nuget.g.targets
src/UniqueArticles/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/UniqueArticles/obj/Debug/netcoreapp3.1/UniqueArticles.AssemblyInfo.cs
src/UniqueArticles/obj/Debug/netcoreapp3.1/UniqueArticles.AssemblyInfoInputs.cache
src/UniqueArticles/obj/Debug/netcoreapp3.1/UniqueArticles.assets.cache
src/UniqueArticles/obj/Debug/netcoreapp3.1/UniqueArticles.csproj.FileListAbsolute.txt
src/UniqueArticles/obj/Debug/netcoreapp3.1/UniqueArticles.exe
src/UniqueArticles/UniqueArticles.csproj.user
src/UniqueArticles.Application/obj/project.assets.json
src/UniqueArticles.Application/obj/UniqueArticles.Application.csproj.nuget.dgspec.json
src/UniqueArticles.Application/obj/UniqueArticles.Application.csproj.nuget.g.props
src/UniqueArticles.Application/obj/UniqueArticles.Application.csproj.nuget.g.targets
src/UniqueArticles.Application/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/UniqueArticles.Application/obj/Debug/netcoreapp3.1/UniqueArticles.Application.AssemblyInfo.cs
src/UniqueArticles.Application/obj/Debug/netcoreapp3.1/UniqueArticles.Application.AssemblyInfoInputs.cache
src/UniqueArticles.Application/obj/Debug/netcoreapp3.1/UniqueArticles.Application.assets.cache
src/UniqueArticles.Application/obj/Debug/netcoreapp3.1/UniqueArticles.Application.csproj.FileListAbsolute.txt
src/UniqueArticles.Domain/obj/project.assets.json
src/UniqueArticles.Domain/obj/UniqueArticles.Domain.csproj.nuget.dgspec.json
src/UniqueArticles.Domain/obj/UniqueArticles.Domain.csproj.nuget.g.props
src/UniqueArticles.Domain/obj/UniqueArticles.Domain.csproj.nuget.g.targets
src/UniqueArticles.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/UniqueArticles.Domain/obj/Debug/netcoreapp3.1/UniqueArticles.Domain.AssemblyInfo.cs
src/UniqueArticles.Domain/obj/Debug/netcoreapp3.1/UniqueArticles.Domain.AssemblyInfoInputs.cache
src/UniqueArticles.Domain/obj/Debug/netcoreapp3.1/UniqueArticles.Domain.assets.cache
src/UniqueArticles.Domain/obj/Debug/netcoreapp3.1/UniqueArticles.Domain.csproj.FileListAbsolute.txt
src/UniqueArticles.Infrastructure/obj/project.assets.json
src/UniqueArticles.Infrastructure/obj/UniqueArticles.Infrastructure.csproj.nuget.dgspec.json
src/UniqueArticles.Infrastructure/obj/UniqueArticles.Infrastructure.csproj.nuget.g.props
src/UniqueArticles.Infrastructure/obj/UniqueArticles.Infrastructure.csproj.nuget.g.targets
src/UniqueArticles.Infrastructure/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/UniqueArticles.Infrastructure/obj/Debug/netcoreapp3.1/UniqueArticles.Infrastructure.AssemblyInfo.cs
src/UniqueArticles.Infrastructure/obj/Debug/netcoreapp3.1/UniqueArticles.Infrastructure.AssemblyInfoInputs.cache
src/UniqueArticles.Infrastructure/obj/Debug/netcoreapp3.1/UniqueArticles.Infrastructure.assets.cache
src/UniqueArticles.Infrastructure/obj/Debug/netcoreapp3.1/UniqueArticles.Infrastructure.csproj.FileListAbsolute.txt
tests/UniqueArticles.Tests/appsettings.json
tests/UniqueArticles.Tests/UniqueArticles.Tests.csproj
tests/UniqueArticles.Tests/UniqueArticles.Tests.csproj.user
tests/UniqueArticles.Tests/Integration/ApiTestsFixture.cs
tests/UniqueArticles.Tests/Integration/ArticlesCrudTests.cs
tests/UniqueArticles.Tests/Integration/HttpClientExtensions.cs
tests/UniqueArticles.Tests/Properties/launchSettings.json
tests/UniqueArticles.Tests/Unit/ArticlesSimilarityCalculatorCalculatorTests.cs
tests/UniqueArticles.Tests/Unit/TestData.cs
tests/UniqueArticles.Tests/bin/Debug/netcoreapp3.1/UniqueArticles.Application.deps.json
tests/UniqueArticles.Tests/bin/Debug/netcoreapp3.1/UniqueArticles.deps.json
tests/UniqueArticles.Tests/bin/Debug/netcoreapp3.1/UniqueArticles.Domain.deps.json
tests/UniqueArticles.Tests/bin/Debug/netcoreapp3.1/UniqueArticles.Infrastructure.deps.json
tests/UniqueArticles.Tests/obj/project.assets.json
tests/UniqueArticles.Tests/obj/UniqueArticles.Tests.csproj.nuget.dgspec.json
tests/UniqueArticles.Tests/obj/UniqueArticles.Tests.csproj.nuget.g.props
tests/UniqueArticles.Tests/obj/UniqueArticles.Tests.csproj.nuget.g.targets
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/UniqueArticles.Tests.AssemblyInfo.cs
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/UniqueArticles.Tests.AssemblyInfoInputs.cache
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/UniqueArticles.Tests.assets.cache
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/UniqueArticles.Tests.csproj.FileListAbsolute.txt
tests/UniqueArticles.Tests/obj/Debug/netcoreapp3.1/UniqueArticles.Tests.exe
tests/UniqueArticles.Tests/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
tests/UniqueArticles.Tests/obj/Debug/netstandard2.0/UniqueArticles.Tests.AssemblyInfo.cs
tests/UniqueArticles.Tests/obj/Debug/netstandard2.0/UniqueArticles.Tests.AssemblyInfoInputs.cache
tests/UniqueArticles.Tests/obj/Debug/netstandard2.0/UniqueArticles.Tests.assets.cache
tests/UniqueArticles.Tests/obj/Debug/netstandard2.0/UniqueArticles.Tests.csprojAssemblyReference.cache
UniqueArticles.sln.DotSettings.user
